<!DOCTYPE html>
<html>
<head>
    <title>{% block meta_title %}Gallery{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <style>
        body {
            /* 60px to move the container down and
            * make room for the navigation bar */
            padding-top: 60px;
        }

        .pagination > li > a.active {
            background-color: #337ab7;
            border-color: #337ab7;
            color: #fff;
            cursor: default;
            z-index: 2;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Photo gallery</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div id="app-container">
    <div class="container">
        {% block page_header %}
        {#<h1>Albums list</h1>#}
        {% endblock %}
    </div>

    <div id="main-region" class="container">
        {% block body %}
        {% endblock %}
    </div>

    <div id="pics-header-region" class="container">
    </div>

    <div id="pics-region" class="container">
    </div>

    <div class="container">
        <nav id="pager-region">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
</div>

<script id="album-list-item" type="text/template">
    <a class="album-link" id="album_<%- id %>" href="#album/<%- id %>"><%- name %></a>
</script>


<script id="pager-template" type="text/template">
    <a class="<%- css_class %>" href="#album/<%- album_id %>/page/<%- page %>"><%- page %></a>
</script>

<script id="album-image-template" type="text/template">
    <a class="thumbnail" href="<%- pic %>">
        <img src="<%- thumb %>" alt="<%- title %>">
    </a>
</script>


<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/vendor/jquery.js') }}"></script>
<script src="{{ asset('js/vendor/json2.js') }}"></script>
<script src="{{ asset('js/vendor/underscore.js') }}"></script>
<script src="{{ asset('js/vendor/backbone.js') }}"></script>
<script src="{{ asset('js/vendor/backbone.marionette.js') }}"></script>
<script src="{{ asset('js/vendor/bootstrap.js') }}"></script>

<script src="{{ asset('js/app.js') }}"></script>

{% set id =  app.request.attributes.get('id', 0) %}
{% if id == 0 %}
    <script type="text/javascript">
        GalleryManager.start();

        $(document).ready(function () {
            console.log("ready!");
            // assign event to menu items
            $('.album-link').click(function () {
                console.log($(this).html());
            })
            $('.album-navi').click(function () {
                console.log($(this).html());
            })
        });
    </script>
{% endif %}
{% block bodyjs %}
{% endblock %}


</body>
</html>

