{% extends 'layout.html.twig' %}

{% block page_header %}
    <h1>Albums</h1>
{% endblock %}

{% block body %}
    <ul>
        {% for album in albums %}
            <li><a href="{{ path('album_view', {'id': album.id}) }}">{{ album.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
