{% extends 'layout.html.twig' %}

{% block page_header %}
<h1>View album: <em>{{ album.name }}</em></h1>
{% endblock %}

{% block body %}

    {% for image in images_paginator %}
        <div class="col-xs-3 col-md-2">
            <a class="thumbnail" href="javascript:;">
                <img src="http://placehold.it/120x80">
            </a>
        </div>
    {% endfor %}

    <br clear="all" />
    <!-- pager goes here -->
    <nav>
        {{ knp_pagination_render(images_paginator) }}
    </nav>

    <a id="back-to-list" class="btn btn-success" href="{{ path('homepage') }}">&laquo; back to albums</a>

{% endblock %}

